<!DOCTYPE html>
<html>
	<head>
		<title>Trillo</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<meta charset="UTF-8">
	</head>
	
	<body ng-app="app" valign="top" ng-controller="ListaController as listaCtrl">

		<ul class="lista ng-scope ui-sortable" ng-repeat="lista in listaCtrl.listas">
			<li class="nome-lista" >
				<span class="div-nome" ng-hide="lista.editando" default-action="listaCtrl.updateLista(lista)" ng-click="lista.editando = true; listaCtrl.nomeEditado = lista.nome">{{lista.nome}}</span>
				<input class="div-nome" ng-show="lista.editando" type="text" value="{{lista.nome}}" ng-blur="lista.editando = false" focus-on ng-enter="listaCtrl.updateLista(lista); lista.editando = false" ng-model="listaCtrl.nomeEditado">
				<a class="div-icon" ng-click="listaCtrl.removeLista(lista)" href="#"></a>
			</li>
			
			<li class="card" ng-repeat="card in lista.cards">
				<span class="div-nome" ng-hide="card.editando" default-action="listaCtrl.updateCard(card, lista)" ng-click="card.editando = true; listaCtrl.nomeEditado = card.nome">{{card.nome}}</span>
				<input class="div-nome" ng-show="card.editando" type="text" value="{{card.nome}}" ng-blur="card.editando = false" focus-on ng-enter="listaCtrl.updateCard(card, lista); card.editando = false" ng-model="listaCtrl.nomeEditado">
				<a class="div-icon" ng-click="listaCtrl.removeCard(card, lista)" href="#"></a>
			</li>

			<li class="add-card" ng-click="listaCtrl.addCard(lista)">Adicionar um cartão...</li>
		</ul>

		<ul class="add-lista">
			<li ng-click="listaCtrl.addLista()">Adicionar uma lista...</li>
		</ul>

	</body>

	<script src="jquery-1.11.3.min.js"></script>
	<script src="jquery-ui.min.js"></script>
	<script src="angular.min.js"></script>
	<script src="app.js"></script>

</html>



