body {
	background: #0079BF;
	overflow-x: scroll;
	white-space: nowrap;
	height: 100%;
	position: absolute;
}

ul {
	display: inline-block;
	width: 270px;
	list-style-type:none;
	padding: 0px;
	white-space: normal;
	min-height: 10px;
	max-height: 800px;
	overflow-y: scroll;
	overflow-x: hidden;
	position: relative;
}

.cards {
	margin-top: 16px;
	margin-bottom: 0px;
}

li {
	margin: 0px;
	padding: 10px;
    position: relative;
    display: block;
}

.lista{
	margin: 2.5px;
	background: #E2E4E6;
	border-radius: 3px;
	display: inline-block;
	width: 270px;
	vertical-align: top;
	list-style-type:none;
	padding: 0px;
	white-space: normal;
	max-height: 95%;
	overflow: hidden;
}

.nome-lista {
	margin: 0px;
	padding: 10px;
	margin-bottom: -10px;
    position: relative;
    display: block;
}

.div-icon{
    position: absolute;
	display: inline-block;
	width: 10px;
	height: 15px;
	right: 10px;
	content: url(x_icon.png);
}

.cor{
    position: absolute;
	display: inline-block;
	width: 15px;
	height: 15px;
	right: 25px;
}

.div-nome{
	display: inline-block;
    position: absolute;
}

.card {
	width: 240px;
	margin: 5px;
	background: #FFFFFF;
	border-radius: 3px;
	padding: 10px;
    height: 20px;
}

.card .placeholder{
	width: 240px;
	margin: 5px;
	background: #FFFFFF;
	border-radius: 3px;
	padding: 10px;
    height: 20px;
}

.card:hover {

	background: #ECEEF0;
}

.add-card {
	color: #949494;
	margin: 0px;
	padding: 10px;
    position: relative;
    display: block;
}

.add-card:hover {
	background: #949595;
	color: black;
	text-decoration: underline;
	border-radius: 3px;	
}

.add-lista {
	background: #006BA9;
	border-radius: 3px;	
	color: #A9CDE2;
	margin-top: 5px;
}

.add-lista, .add-card {
	cursor: pointer;
}

.add-lista:hover {
	background: #044971;
	border-radius: 3.5px;	
}