body {
	background: #0079BF;
	overflow-x: scroll;
	white-space: nowrap;
}

ul {
	display: inline-block;
	width: 270px;
	vertical-align: top;
	list-style-type:none;
	padding: 0px;
	white-space: normal;
}

li {
	margin: 0px;
	padding: 10px;
    position: relative;
    display: block;
}

.lista{
	margin: 2.5px;
	background: #E2E4E6;
	border-radius: 3px;
}

.nome-lista {
    height: 20px;
}

.div-icon{
    position: absolute;
	display: inline-block;
	width: 10px;
	height: 15px;
	right: 10px;
	content: url(x_icon.png);
}

.div-nome{
	display: inline-block;
    position: absolute;
}

.card {
	width: 240px;
	margin: 5px;
	background: #FFFFFF;
	border-radius: 3px;
	padding: 10px;
}

.card:hover {

	background: #ECEEF0;
}

.add-card {
	color: #949494;
}

.add-card:hover {
	background: #949595;
	color: black;
	text-decoration: underline;
	border-radius: 3px;	
}

.add-lista {
	background: #006BA9;
	border-radius: 3px;	
	color: #A9CDE2;
	margin-top: 5px;
}

.add-lista:hover {
	background: #044971;
	border-radius: 3.5px;	
}